body {
  font-family: arial;
  background-color: rgb(5, 227, 246);
}

h1 {
  color: rgb(255, 97, 246);

}

.container {
  color: rgb(255, 237, 0);
  background-color: rgba(1, 12, 214, 0.5);
  width: 50%;
  position: absolute;
  left: 120px;
}

p {
  text-align: left;
}

p2 {
  color: rgb(255, 148, 0);
  text-align: right;
  font-size: 300%;
}

/* wanted to make the cassette the background with the teal border but was not quite sure how to do that*/
