body {
  background-color: rgb(121, 9, 116);
  color: white;
  padding: 6px;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-family: 'Cinzel', serif;
  font-size: 2em;

}

p {
  line-height: 1.45em;
}

p:first-letter {
  font-family: 'cinzel', serif;
  font-size: 2.5em
}

a {
  background-color: rgb(18, 161, 76);
  color: white;
}
A:hover {
  font-style: bold;

}
a:visited {
  color: rgb(97, 96, 226);

}
