/* CSS for Nav Menu*/

/*container*/
menu {
  margin: 0;
  padding: 0;
  bacxkground-color: rgb(17, 117, 96);
}

/*Top-Links*/
#site-links {
  display: inline-block;

}
#site-link .menu-item {
  width: 6em;
  padding: .5em 1em;
  display: inline-block;

  background-color: rgb(33, 228, 164);

  text-align: center;
  color: white;
}
