/* CSS for Nav Menu*/

/*container*/
menu {
  margin: 0;
  padding: 0;
  background-color: rgb(59, 142, 124);
}

/*Top-Links*/
#site-links {
  margin: 0;
  padding: 0;
  display: inline-block;


}
#site-link .menu-item {
  width: 6em;
  padding: .5em 1em;
  display: inline-block;

  background-color: rgb(33, 228, 164);

  text-align: center;
  color: white;
}
#site-links .menu-item:hover {

}
