/* CSS for Nav Menu*/

/*container*/
menu {
  margin: 0;
  padding: 0;
  bacxkground-color: rgb(17, 117, 96);
}

/*Top-Links*/
#site-links {

}
#site-link .menu-item {
  width: 6em;
  padding: .5em 1em;

  background-color: rgb(33, 228, 164);

  text-align: center;
}
