/* site-wide */
body {
  background-color: rgb(16, 86, 130);
  background-image: url('../images/fishing-border.jpg')




}

h1 {
  margin: 0;
  font-family: 'Cinzel', serif;
  color: rgb(33, 228, 164);
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
* {
  font-family: 'Ubuntu', sans-serif;
  color: white;

}

/*layout */
.main-container {
  width: 60%;
  min-width: 700px;
  margin: 3em auto;
  padding: 3em;

  background-color: white;
  border: 10px
  border-color: rgb(33, 228, 164); 

}
header {

}
main {
    margin: 3em 0;
    text-align: justify;
    margin: 3em 0;

}
footer{
    margin-top: 3em;
    text-align: center;
    font-size: .75em;

}
