
body {
  background-color: rgb(231, 129, 23);
  font-size: 1.25em;
  color: rgb(255, 255, 255);
}

.navigation {

}




.row {
  display: inline-block;
  margin: 10%;
  width: 25% auto;
}



.column {
  background-color: rgb(123, 81, 213);
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 100%;

}
