body {
  backround-color rgb(237, 240, 244);
  font-size: 1.25em;
  color: rgb(60, 27, 145);
  margin: 0;
  text-align: center;

  }

  .navigation {
    background-color: rgba(0, 0, 0, 0.7);
    width: 300px;
    height: 100%;

    Position: fixed;
    top: 0;
    right: 0;

  }


  .main {
    background-color: rgb(231, 247, 242);
    overflow: auto;

    margin-right: 300px;
    padding: 1em;

  }
  .img {
    width: 100%;
    height: auto;

  }
