body {
  background-image: url(..images/wave.jpeg);
  font-size: 1.25em;
  color: rgb(255, 255, 255);
  text-align: center;

  }

  .navigation {
    background-color: rgba(0, 0, 0, 0.7);
    width: 300px;
    height: 100%

    Position: fixed;
    top: 0;
    left:0;

  }
